{% extends "mail/layout.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'mail/inbox.js' %}">
    </script>
{% endblock %}
{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
    <div id='read_status' value={{email.read}}>
        <p id='read_status_cont'>
       {{email.read}} dd
        </p>
        
    </div>
    
    <div id="mail-view">

        <div>
                    <div style= 'border-style: solid; padding-bottom: 10px; padding-top: 10px; margin-bottom: 4px;'>
                    Sender: {{email.sender}}<br>
                    </div>
                    <div style= 'border-style: solid; padding-bottom: 10px; padding-top: 10px; margin-bottom: 4px;'>           
                    Subject: {{email.subject}}<br>
                    </div>
                    <div style= 'border-style: solid; padding-bottom: 75%;'>
                    Body: {{email.body}}<br>
                    </div>

                    <form method="POST" action="" id="button">
                        {%csrf_token%}
                        <input type="hidden" name="email" value="{{email.archived}}">{{email.archived}}</input>
                    <button type="submit" class="archive" form="button">Archive</button>
                    </form>

                   
                    <button type="text" class="reply" id="reply" form="reply">Reply</button>
                   
                </div>
    </div>


    <div id="reply-view">
        {%csrf_token%}
        <h3>Reply</h3>
        <form id="reply-form" action="{% url 'compose' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="reply-recipients" class="form-control" value="{{email.sender}}">
            </div>
            <div class="form-group">
                <input class="form-control" id="reply-subject" value="RE: {{email.subject}}">
            </div>
            <textarea class="form-control" id="reply-body" value="Body">On {{email.timestamp}} {{email.sender}} wrote: "{{email.body}}"
            </textarea>
            <input id="composesubmit2" type="submit" class="btn btn-primary"/>
        </form>

    </div>

 
 
    <div id="emails-view">
        <div id='read_status'>
            <div>
            {{email.read}}
            </div>
        </div>

    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body">

            </textarea>
            </form>

    <div id="div-composesubmit">
    <button class="btn btn-sm btn-outline-primary" id="composesubmit">Click me</button>

    </div>
        
    </div>

    <div id="emails">


    </div> 
    
    <div id="archived-view">
            <p> archived view </p>

    </div>
{% endblock %}


