{% extends "network/layout.html" %}

{% load static %}


{% block title %}User Social Media Wall{% endblock title %}

{%block body %}

<h1>ALL POSTS by ALL USERS</h1>
<form method="POST" class="user_posts">
    {% csrf_token %}
    
    
    <h3>Create a post</h3>
    <input type="text" id="id_posts" name="posts" placeholder="Create a post here...">
    
    <button type="submit" class="btn btn-success">Post</button>
    </form>
    
    

<div style=''>
    {% comment %} Lists the posts in an unordered list {% endcomment %}
    

    {% for msg_entry in entries %}
        <div style='background-color: #E2E2E2; border-style: solid'>  
            <div style='border-bottom: 5px solid'>
                <h4><a href="{% url 'user_profile' msg_entry.posts_owner.pk %}">{{ msg_entry.posts_owner }}</a>  on {{msg_entry.date_and_time}} wrote: <h4>
            </div>

            {% comment %} ACTUAL POST HERE {% endcomment %}
            <div style='border-bottom: 2px solid'>
                {{msg_entry.posts}} <br>   
            </div>

            {{msg_entry.rating}}
            <div style='align-content: center'> 

                            <form method="POST" action="{% url 'vote_rating' msg_entry.pk %}"  id="comment-form" style='align-content: right'>
                                {%csrf_token%}
                                <input type="hidden" name="vote_input" value='1'></input>
                                <button class ="" type='submit' id='post_vote_up'> Vote Up!</button>
                            </form>

                            <form method="POST" action="{% url 'vote_rating' msg_entry.pk %}"  id="comment-form" style='align-content: center'>
                                {%csrf_token%}
                                <input type="hidden" name="vote_input" value='-1'></input>
                                <button class ="" type='submit' id='post_vote_down'> Vote Down!</button>
                            </form>

            </div>
            
        </div>    
            <br>
            

        <form method="POST" action="{% url 'comment' msg_entry.pk %}"  id="comment-form">
        {%csrf_token%}
        <input type="text" name="comment-input" placeholder="Enter Comment Here"></input><br>
        <button class="btn btn-sm btn-outline-primary" type='submit' id="commentsubmit">Comment Submit</button>  
        </form>

    <br>


    {% comment %}  comments {% endcomment %}
            Comments: 
    <div style='border-style: solid; background-color: #C4C4C4;'>      
            {% for comment in comments %}
                {% if msg_entry.pk == comment.post.id %}
                    <li>{{comment.comment}}</li>
                    <br>    
                    
                {% endif %}     
        
            {% endfor %}
            
    {% comment %}  comments {% endcomment %}
    </div>
    <br>
    <br>
    <hr>
        
    {% endfor %}

</div>

<br>

{%endblock%}
